export const {{ name }}Schema = z.object({
  {% for field in fields -%}
  {{ field.serializedName | default(value=field.name) }}: {% include "zod/partials/field_schema.ts.tera" %},
  {% endfor -%}
});

export type {{ name }} = z.infer<typeof {{ name }}Schema>;
